@import 'https://unpkg.com/open-props' layer(design.system);
@import 'https://unpkg.com/open-props/normalize.min.css' layer(demo.support);
@import "https://unpkg.com/open-props/gray-hsl.min.css";
@import "https://unpkg.com/open-props/purple-hsl.min.css";
@import "https://unpkg.com/open-props/choco-hsl.min.css";

:root{
	--custom-radius: 8px;
	--gap: var(--size-7);

	--op-surface-0: white;
  --op-surface-1: black;

  --op-brand-0: oklch(88% 0.15 191);
  --op-brand-1: oklch(62% 0.25 14);
  --op-brand-gradient: linear-gradient(
    270deg,
    oklch(67% 0.22 14) 0%,
    oklch(78% 0.14 8) 100%
  );
}

html {
  /* light */
  --brand-light: var(--orange-6);
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --surface-shadow-light: var(--gray-8-hsl);
  --shadow-strength-light: 2%;

  /* dark */
  --brand-dark: var(--orange-3);
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);
  --surface-shadow-dark: var(--gray-12-hsl);
  --shadow-strength-dark: 80%;

  /* dim */
  --brand-dim: var(--orange-4);
  --text-1-dim: var(--gray-3);
  --text-2-dim: var(--gray-4);
  --surface-1-dim: var(--gray-8);
  --surface-2-dim: var(--gray-7);
  --surface-3-dim: var(--gray-6);
  --surface-4-dim: var(--gray-5);
  --surface-shadow-dim: var(--gray-9-hsl);
  --shadow-strength-dim: 20%;
  
  /* grape */
  --brand-grape: var(--purple-5);
  --text-1-grape: var(--purple-9);
  --text-2-grape: var(--purple-7);
  --surface-1-grape: var(--purple-0);
  --surface-2-grape: var(--purple-1);
  --surface-3-grape: var(--purple-2);
  --surface-4-grape: var(--purple-3);
  --surface-shadow-grape: var(--purple-12-hsl);
  --shadow-strength-grape: 2%;
  
  /* choco */
  --brand-choco: var(--choco-5);
  --text-1-choco: var(--choco-1);
  --text-2-choco: var(--choco-2);
  --surface-1-choco: var(--choco-12);
  --surface-2-choco: var(--choco-11);
  --surface-3-choco: var(--choco-10);
  --surface-4-choco: var(--choco-9);
  --surface-shadow-choco: 25deg 65% 11%;
  --shadow-strength-choco: 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
  color-scheme: dark;
  
  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

[color-scheme="dim"] {
  color-scheme: dark;

  --brand: var(--brand-dim);
  --text-1: var(--text-1-dim);
  --text-2: var(--text-2-dim);
  --surface-1: var(--surface-1-dim);
  --surface-2: var(--surface-2-dim);
  --surface-3: var(--surface-3-dim);
  --surface-4: var(--surface-4-dim);
  --surface-shadow: var(--surface-shadow-dim);
  --shadow-strength: var(--shadow-strength-dim);
}

[color-scheme="grape"] {
  color-scheme: light;

  --brand: var(--brand-grape);
  --text-1: var(--text-1-grape);
  --text-2: var(--text-2-grape);
  --surface-1: var(--surface-1-grape);
  --surface-2: var(--surface-2-grape);
  --surface-3: var(--surface-3-grape);
  --surface-4: var(--surface-4-grape);
  --surface-shadow: var(--surface-shadow-grape);
  --shadow-strength: var(--shadow-strength-grape);
}

[color-scheme="choco"] {
  color-scheme: light;

  --brand: var(--brand-choco);
  --text-1: var(--text-1-choco);
  --text-2: var(--text-2-choco);
  --surface-1: var(--surface-1-choco);
  --surface-2: var(--surface-2-choco);
  --surface-3: var(--surface-3-choco);
  --surface-4: var(--surface-4-choco);
  --surface-shadow: var(--surface-shadow-choco);
  --shadow-strength: var(--shadow-strength-choco);
}

.text-1 {
  color: var(--text-1);
}

.text-2 {
  color: var(--text-2);
}

.custom-button {
	animation: 
    var(--animation-scale-down) reverse,
    var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 1s;
	padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: var(--custom-radius);
	background-color: var(--surface-3);
	box-shadow: 10px 5px 5px var(--surface-shadow);
}

.conversion-options{
	& > * {
		display: grid;
		gap: 8px;
	}
	display: grid;
	gap: 24px;
}

#theme-switcher{
	display: grid;
	gap: 12px;
}

.wrap {
	border-radius: var(--custom-radius);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: var(--size-3);
}

:where([data-theme=dark]){
	& .wrap {
		background-color: var(--surface-1);
	}

	& .item p, .item h1, .item label, .item input {
		color: var(--text-1);
	}

	& .quality-input {
		/* color: var() */
	}
}

.item {
	border: var(--border-size-1) solid var(--op-surface-1);
	padding: calc(var(--gap)* 0.75);
	border-radius: var(--custom-radius);
	background-color: var(--surface-1);
	display: grid;
	align-content: start;
	transition: box-shadow 0.2s ease;

	&:hover{
		box-shadow: 8px 8px var(--surface-2);
	}
}

.progress-bar-item{
	place-content: center;
}

.circular-progress-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.circular-chart {
	width: 100%;
	max-width: 300px;
}

.circle-bg {
	fill: none;
	stroke-width: 3.8;
}

.circle {
	fill: none;
	stroke-width: 3.8;
	stroke-dasharray: 100, 100;
	transition: stroke-dashoffset 0.5s ease-out, stroke 0.5s linear; /* Smooth transition for dashoffset */
}

.percentage {
	font-weight: bold;
	alignment-baseline: middle;
	text-anchor: middle;
}